title {
  content: "";
  display: none;
  visibility: hidden;
}
title::before {
  content: "iDep";
}

.login {
    min-height: 100vh !important;
    background: linear-gradient(to top left, rgba(183, 190, 214, 0.8) 0%, rgba(193, 150, 58, 0.8) 100%), url("assets/images/stars.gif") !important;
    display: flex !important;
}

.sidebar__version {
    display: none !important;
}

.sidebar {
  background-color: #391B1B !important;
}
  .theme-light .top-bar {
    background: radial-gradient(rgb(253 253 253), rgb(215 212 212)) !important;
}

.columns.top-bar__left-side {
  position: relative;
}

.columns.top-bar__left-side::after {
  content: "";
  position: absolute;
  right: 220px;
  transform: translateY(-100%);
  width: 75px;
  height: 24px;
  background-image: url("https://raw.githubusercontent.com/sourabhdev2k18/ergoCDTest/bd5bcafbcef577bc1e39a1b42681f643d7125622/intelliswiftLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 35px; 
  background-position: center;
  z-index: 1;
  display: flex;
  align-items: center;  
}


.login .argo__logo{
/*   background-image: url("https://raw.githubusercontent.com/sourabhdev2k18/ergoCDTest/7a49b4aa6dc8a23629327dadf70d9aa0fc678175/big_logo.jpg"); */
/*   background-image: url("https://raw.githubusercontent.com/sourabhdev2k18/ergoCDTest/77f9ac721201b853397959b2008f87e4e405c8ea/homescreenlogowhite.png"); */
/*   background-image: url("https://raw.githubusercontent.com/sourabhdev2k18/ergoCDTest/b518e80de0ef100663ad895ed924f611d9bf859f/homescreenlogowhite1.png"); */
  background-image: url("https://raw.githubusercontent.com/sourabhdev2k18/ergoCDTest/7fb7fbb2307649643e93dab9d6b4e9e2861ab675/homescreenlogowhite1_final_.png");
/*   background-image: url("https://raw.githubusercontent.com/sourabhdev2k18/ergoCDTest/77f9ac721201b853397959b2008f87e4e405c8ea/homescreenlogo.png"); */
  
  height: 0vh !important;
  width: 35%;
  margin-bottom: 150px !important;
}

.sidebar__logo img {
filter: invert(0%) !important;
height: 45px !important;
/* content: url("https://raw.githubusercontent.com/sourabhdev2k18/ergoCDTest/7a49b4aa6dc8a23629327dadf70d9aa0fc678175/big_logo.jpg"); */
/* content: url("https://raw.githubusercontent.com/sourabhdev2k18/ergoCDTest/b518e80de0ef100663ad895ed924f611d9bf859f/homescreenlogowhite1.png"); */
  content: url("https://raw.githubusercontent.com/sourabhdev2k18/ergoCDTest/0609181b99947b90880e5a8933a283a1afa982ed/homescreenlogowhite1_final_white.png");
}

.sidebar__logo__character {
  visibility: hidden !important;
}

.login__box img {
  content: url("https://raw.githubusercontent.com/sourabhdev2k18/ergoCDTest/daf0a72477db605aa9fc596647ee1f948124204b/logo.jpg");
}

.login__footer a img {
  width: 65px !important;
  filter: invert(0%) !important;
  content: url("https://raw.githubusercontent.com/sourabhdev2k18/ergoCDTest/bd5bcafbcef577bc1e39a1b42681f643d7125622/intelliswiftLogo.png");
}

.login__text{
  visibility: hidden;
  position: relative;
  top: 10vh !important;
}
.login__text::before {
  content: "IS DevOps Platform";
  margin : auto;
  visibility: visible;
  display: block;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 100;
}

/* Full-screen loader */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.empty-state {
  display: none !important;
}


/* New Styles from screenshots */
.sidebar__logo-container {
  margin-left: -45px;
}

.sidebar__logo__text-logo {
  height: 5em;
}
