.sidebar__logo img {
  content: url("https://raw.githubusercontent.com/sourabhdev2k18/ergoCDTest/bd5bcafbcef577bc1e39a1b42681f643d7125622/intelliswiftLogo.png");
}

.sidebar__logo__character img {
    content: url("https://raw.githubusercontent.com/sourabhdev2k18/ergoCDTest/bd5bcafbcef577bc1e39a1b42681f643d7125622/intelliswiftLogo.png") !important;
    width: 60px !important; /* Adjust size as needed */
    height: auto !important;
}



/* .login__text{
  visibility: hidden;
  position: relative;
}
.login__text::before {
  content: "IS Devops Plateform";
  margin : auto;
  visibility: visible;
  display: block;
  top: -10vh;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 100;
} */

